#aboutbg {
  width: 100%;
  margin-bottom: 3%;
}
.about-design-img {
  margin-top: 7%;
  width: 24%;
  animation: rotate infinite 5s linear;
  z-index: -1;
}
.send-mail {
  font-size: x-large;
  margin-top: 90px;
  color: white;
  text-decoration: none;
  padding: 8px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
